<div class="layui-form-item">
    <div class="layui-input-block">
        <button class="layui-btn" lay-submit lay-filter="save">@L["Submit"]</button>
        <button type="reset" class="layui-btn layui-btn-primary">@L["Reset"]</button>
    </div>
</div>